<!doctype html>
<html lang="en-us">
<head>

	<title>{{file.ast.nav.title}} - {{options.title}}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

	<base href="{{relative file.dirname file.base}}" />
	<link rel="stylesheet" href="assets/css/main.css" />

</head>
<body>

	<div class="blocks">
		<div class="comment">
			<h1>{{file.ast.nav.title}}</h1>
			<p>./{{relative file.base file.path}}</p>
		</div>

		{{#each file.ast.blocks}}
			{{{partial type ext=../../ext}}}
		{{/each}}
	</div>

	<script src="assets/js/main.js"></script>

</body>
</html>
